<header class="navbar navbar-toggleable-md navbar-light bg-faded">
  <button class="navbar-toggler navbar-toggler-right" type="button" (click)="isNavbarCollapsed = !isNavbarCollapsed" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">{{title}}</a>
  <div class="collapse navbar-collapse" [ngbCollapse]="!isNavbarCollapsed">
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="#">Events</a>
      <a class="nav-item nav-link" href="#">Rooms</a>
      <a class="nav-item nav-link" href="#">Invitees</a>
      <a class="nav-item nav-link" href="#">Needs</a>
      <a class="nav-item nav-link" href="#">Conversations</a>
      <a class="nav-item nav-link" href="#">Photos</a>
    </div>
  </div>
</header>
